@font-face {
    font-family: 'bedeprimee';
    src:
        local('bdprimee'),
        url('/assets/fonts/bedeprimee.ttf') format("truetype"),
        url('/assets/fonts/bedeprimee.otf') format("opentype");
    size-adjust: 200%;
    font-weight: 400;
    font-style: normal;
    font-display: auto;
}

p {
    margin-bottom: 1rem;
    line-height: 2;
}

.bd {
    // font-family: 'bedeprimee', sans-serif;
}

.visitors-layout {
    // font-family: 'bedeprimee', sans-serif;

    .v-main {
        z-index: 2;
        position: relative;

        &::before {
            content: '';
            position: fixed;
            z-index: -1;
            inset: 0;
            background: url('/assets/images/bg.png');
            background-size: cover;

            @media screen and (min-width: 768px) {
                background-attachment: fixed;
            }
        }
    }

    .bede-block {
        border-radius: 48px !important;
        box-shadow: 0 10px 10px 0 #891e00;

        :deep(.v-card-text) {
            background-color: red;
        }

        .bede-text {
            padding: 3rem;
            color: rgb(var(--v-theme-secondary));

            @media screen and (max-width: 512px) {
                padding: 1.5rem;
            }

            h1 {
                line-height: 1.7;
            }

            h2 {
                line-height: 2;
            }
        }
    }

    .image-container {
        position: relative;
        overflow: hidden;

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }
}
