$heading-font: 'bedeprimee', sans-serif;
$body-font: 'bedeprimee', sans-serif;

@use 'vuetify/settings' with (
  $heading-font-family: $heading-font,
  $body-font-family: $body-font,
  $input-line-height: 2.5,
  $card-title-line-height: 2.3,
  $messages-line-height: 24px,
  $stepper-item-title-line-height: 2,
  $badge-font-size: 0.5rem,
  $list-item-title-line-height: 2.2,
  $list-item-nav-title-line-height: 2.2,
);
