@font-face {
    font-family: 'bedeprimee';
    src:
        local('bdprimee'),
        url('../../public/fonts/bedeprimee.ttf') format("truetype"),
        url('../../public/fonts/bedeprimee.otf') format("opentype");
    size-adjust: 200%;
    font-weight: 400;
    font-style: normal;
    font-display: auto;
}

p {
    margin-bottom: 1rem;
    line-height: 2;
}

.bd {
    font-family: 'bedeprimee';
}

.visitors-layout {
    font-family: 'bedeprimee';

    .v-main {
        z-index: 2;
        position: relative;

        &::before {
            content: '';
            position: fixed;
            z-index: -1;
            inset: 0;
            background: url('../assets/images/bg.png');
            background-size: cover;

            @media screen and (min-width: 768px) {
                background-attachment: fixed;
            }
        }
    }

    .image-container {
        position: relative;
        height: 500px;
        overflow: hidden;
    
        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }
}