@font-face {
    font-family: 'bedeprimee';
    src: url('/bedeprimee.otf') format("opentype");
    font-weight: 400;
    font-style: normal;
    font-display: auto;
}

.bd {
    font-family: 'bedeprimee';
}

.visitors-layout {
    font-size: 28px;
    z-index: 1;
    position: relative;

    &::before {
        content: '';
        position: fixed;
        z-index: 0;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, rgba(235,226,102,1) 0%, rgba(244,57,187,1) 100%);;
        background-attachment: fixed;
        background-size: 100vh;
        mask-image: url(flowers.png);
        mask-repeat: repeat;
        mask-size: 600px 300px;
    }

    .v-container {
        position: relative;
    }
}