@font-face {
    font-family: 'bedeprimee';
    src: url('/bedeprimee.otf') format("opentype");
    font-weight: 400;
    font-style: normal;
    font-display: auto;
}

.visitors-layout {
    font-family: 'bedeprimee';
}